[Unit]
Description=Cowrie SSH honeypot service
After=network.target

[Service]
User=cowrie
Group=cowrie

Restart=always
RestartSec=5

WorkingDirectory=/home/cowrie/cowrie

ExecStart=/bin/bash -c 'source /home/cowrie/cowrie/cowrie-env/bin/activate && exec authbind --deep /home/cowrie/cowrie/bin/cowrie start'

StandardOutput=journal
StandardError=journal
SyslogIdentifier=cowrie

[Install]
WantedBy=multi-user.target
